#second-page{
    margin-top: 25px;
    height: 1350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

#second-page h4 {
    margin-bottom: 30px;
    font-size: 16px;
}

.box-viewed{
    height: 160px;
    width: 85%;
    background-color: black;
    margin: 0px 0px 40px 0px;
}

.box-viewed-two{
    height: 200px;
    width: 85%;
    background-color: black;
    margin: 0px 0px 40px 0px;
}

.also-viewed-one,
.also-viewed-two,
.also-viewed-three{
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.also-viewed-four,
.also-viewed-five,
.also-viewed-six{
    height: 200px;
    width: 100%;
    object-fit: cover;
}